<div data-bc-datepicker-wheel-wrapper="" >
    <div data-bc-datepicker-mobile-days-wrapper="" >
     

    </div>
    <div data-bc-datepicker-mobile-months-wrapper="" >
        
    </div>
    <div data-bc-datepicker-mobile-years-wrapper="" >
       
    </div>
  
        <div data-bc-datepicker-daterange-wrapper="" >
            <ul draggable="true" data-bc-datepicker-daterange-list="">
                <li data-range="7">1 هفته</li>
                <li data-range="15" data-bc-datepicker-mobile-wheel-curent="true">15 روز</li>
                <li data-range="30">1 ماه</li>
            </ul>
    
        </div>
    
</div>

<button data-bc-datepicker-mobile-submit="">تایید</button>