<div class="clr"></div>
<input type="hidden" bc-calendar-action-id="" value="1" />
<div data-calendar-new-reminder="">
<div new-note-reminder-form-element="" >
  <div  class="tabWrapper">
<div class="tabs">
    <div class="tabContainer">
<div new-note-btn="" bc-calendar-change-button="" class="tabButton" data-id="1"  tab-button-status-email="" tab-button-status="active"></div>
<div new-note-btn="" bc-calendar-change-button="" class="tabButton" data-id="2" tab-button-status-mobile="" tab-button-status=""></div>
<span class="tabActive"></span>
</div>
</div>
</div>
</div>
<div data-bc-calendar-second-row="">
<div new-note-reminder-input="">
<input type="text" data-sys-input-text="" data-calendar-time-value="" placeholder="" bc-calendar-time-num="">

<select data-bc-calendar-select="" data-bc-select-time="">
    <option value="3" selected></option>
    <option value="2"></option>
    <option value="1"></option>
</select>
</div>
<div new-note-reminder-input="">

<select data-bc-calendar-select="" data-bc-select-service-reminder="">
    <option value="1" selected>برای خودم</option>
    <!-- <option value="2">برای همه اعضای گروه</option> -->
    
</select>
</div>
</div>
</div>