<form data-calendar-input-wrapper="">
	
	<div new-note-reminder-form="">
		<p new-note-reminder-form-title="">
		  به شما یادآوری کنیم ؟
		  <span>قبل از تاریخ انتخاب شده به شما یادآوری می‌کنیم</span>
		</p>
		<div new-note-reminder-form-body="">
			<div data-calendar-reminder-note-wrapper="">
			
			</div>
		<div data-bc-new-row-reminder="">

		</div>
		</div>
	  </div>
	  <div class="clr" ></div>
	  <div id="errors">

    </div>
	<div class="clr"></div>
	  <div new-form-submit-cancel-buttons="">
		
		  <button  data-reminder-submit="" data-calendar-submit="" data-bc-calendar-disable-button="" >ثبت</button>
		
	  </div>
</form>
