<div new-note-reminder-form-element="">
  <div data-bc-calendar-second-row="">
    <div data-bc-calendar-action-icon=""></div>
    <div new-note-reminder-input="">
      <input
        type="text"
        data-sys-input-text=""
        data-calendar-time-value=""
        placeholder="تعداد"
        bc-calendar-time-num=""
        disabled="true"
      />

      <select data-bc-calendar-select="" data-bc-select-time="" disabled="true">
        <option value="3">روز</option>
        <option value="2">ساعت</option>
        <option value="1">دقیقه</option>
      </select>
    </div>
    <div new-note-reminder-input="">
      <select
        data-bc-calendar-select=""
        data-bc-select-user-share=""
        disabled="true"
      >
        <option value="1">برای خودم</option>
        <option value="2">برای همه اعضای گروه</option>
      </select>
    </div>
    <div data-calendar-remove-sharing="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
      >
        <path
          d="M0 10C0 4.47715 4.47715 0 10 0H27.6699C33.1928 0 37.6699 4.47715 37.6699 10V27.6699C37.6699 33.1928 33.1928 37.6699 27.6699 37.6699H10C4.47715 37.6699 0 33.1928 0 27.6699V10Z"
          fill="#B40020"
          fill-opacity="0.1"
        />
        <path
          d="M14.0373 12.9783L11.9064 15.1092L16.1683 19.3711L11.9064 23.633L14.0373 25.7639L18.2992 21.502L22.5611 25.7639L24.692 23.633L20.4301 19.3711L24.692 15.1092L22.5611 12.9783L18.2992 17.2402L14.0373 12.9783Z"
          fill="#B40020"
        />
      </svg>
    </div>
  </div>
  <div class="clr"></div>
</div>
