ul {
  list-style: none;
}

[data-calendar-day] {
  height: 100px;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-left: none;
  border-bottom: 0;
  top: 0;
  cursor: pointer;
  background: #fff;
  position: relative;
  /* border-top: 0; */
}
p {
  padding: 0;
  margin: 0;
}
[data-calendar-day] span {
  position: relative;
  top: 7px;
  float: right;
}

[data-calendar-day]:not([data-id1]) {
  cursor: not-allowed;
  background-color: #f6f6f6;
}
[data-id1]:hover {
  background-color: #f2fbfd;
}

[data-calendar-day-names] {
  background-color: #fcfcfc;
  color: #555;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
[data-calendar-day-name] {
  text-align: center;
  font-size: 14px;
  padding: 8px 8px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
}
[data-calendar-day-name] .en-name {
  font-size: 12px;
  color: #ccc;
  margin-right: 5px;
}
[data-calendar-second-day-name] {
  font-size: 10px;
  color: #5f5f5f;
  font-family: Arial, Helvetica, sans-serif;
}
[data-id1]:hover:after {
  content: "";
  background: url("new.png");
  background-size: cover;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 25px;
  border: 1px solid #4d576e;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
[data-calendar-note-list] {
  clear: both;
  padding-top: 1px;
}
[data-calendar-note-list] li {
  text-align: right;
  padding: 0 5px;
  box-sizing: border-box;
}
[data-calendar-note-lists] li {
  text-align: right;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 12px;
  min-height: 32px;
  display: flex;
  align-items: center;
  line-height: 30px;
}
[data-calendar-note-list] ul,
[data-calendar-note-lists] ul {
  padding: 0;
  margin: 0;
  /* display: flex; */
  height: 100%;
  flex-direction: column;
  z-index: 9;
  display: flex;
  width: 100%;
  justify-content: start;
}
[data-calendar-note-lists] {
  clear: both;
  padding-top: 1px;
  position: absolute;
  height: 60%;
  bottom: 0;
  width: 100%;
}
#basis-calendar {
  direction: rtl;
}

[data-calendar-days] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

[data-calendar-today-btn] {
  height: 31px;
  border-radius: 3px;
  border: 1px solid #c8e4f0;
  background: #eff6f9;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  margin-left: 10px;
}

[data-calendar-next] {
  margin-left: 55px;
}
[data-calendar-next] svg,
[data-calendar-prev] svg {
  color: #fff;
}
[data-calendar-tools],
[data-months-tools] {
  display: flex;
  direction: rtl;
  align-items: center;
}

[data-calendar-Header] {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  direction: ltr;
  justify-content: space-between;
}
[data-calendar-title] {
  text-align: center;
  font-size: 14px;
  width: 100%;
}
[data-disable] {
  background: #ccc;
  border: 1px solid #ccc;
}
[data-calendar-month-container] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
[data-basisMCalendarHeader] {
  position: relative;
  padding: 10px 0;
  align-items: center;
  width: 100%;
  direction: rtl;
}
[data-basisMCalendarHeader] svg {
  width: 15px;
  height: 15px;
}
[data-calendar-body] {
  margin-top: 10px;
  grid-column: 1/-1;
  border-radius: 5px;
}

[data-resizebtn] {
  float: left;
  margin-left: 10px;
}
[data-cover] {
  position: absolute;
  background: rgba(3, 2, 41, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 999;
  align-items: start;
  flex-direction: center;
  justify-content: center;
}
[data-modal-form] {
  width: 580px;
  background: #fff;
  border-radius: 5px;
  padding: 22px 30px;
  z-index: 999;
  /* margin-top: 40px; */
  -webkit-animation: modalBoxOpen 0.5s ease;
  animation: modalBoxOpen 0.5s ease;
  margin-top: 80px;
  min-height: 400px;
  position: fixed;
  max-height: 80%;
  overflow-y: scroll;
  scrollbar-width: thin;
  direction: rtl;
}
@keyframes modalBoxOpen {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: 80px;
    opacity: 1;
  }
}
[data-calendar-form-row] {
  margin-bottom: 10px;
}
[data-calendar-form-row] textarea {
  box-sizing: border-box;
  padding: 5px;
  display: inline-block;
  border: 1px solid #dce3ed;
  background: #fbfdff;
  color: #666;
  border-radius: 3px;
  transition: border 0.3s linear 0s;
  width: 100%;
  height: 70px;
  font-size: 12px;
  resize: vertical;
  margin-bottom: 0;
  direction: rtl;
  font-family: inherit;
}
[data-calendar-input-wrapper] {
  padding: 10px;
  height: 0;
}
[data-calendar-code-color] {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

[data-calendar-color-input] {
  float: right;
  height: 100%;
  border: none;
}
[data-calendar-color-add] {
  border: 1px solid #dce3ed;
  background: #fbfdff;
  height: 35px;
  padding: 0 0 0 5px;
  font-size: 12px;
  text-align: left;
  width: 70%;
  float: right;
  display: flex;
  justify-content: space-between;
  direction: ltr;
  box-sizing: border-box;
}
[data-calendar-time-input] {
  border: 1px solid #dce3ed;
  background: #fbfdff;
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
}

[data-calendar-color-span] {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  position: relative;
  top: 5px;
}
[data-calendar-cat-box] {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: right;
  width: 53px;
  font-size: 10px;
  font-weight: 400;
}
[data-calendar-reminder-icon] {
  display: flex;
  align-items: center;
}
[data-calendar-info-box] {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  color: #004b85;
  text-align: right;
  margin-bottom: 10px;
  font-size: 8px;
  font-weight: 500;
}
[data-calendar-reminder-box] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
[data-calendar-note-item] {
  display: flex;
  margin-bottom: 10px;
  direction: rtl;
  text-align: right;
  padding: 15px 8px;
  border-radius: 5px;
  flex-direction: column;
}
[data-calendar-event-btn] {
  margin-right: 10px;
  cursor: pointer;
}

[data-calendar-drop-down-view] {
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  border-radius: 15px;
}
[data-calendar-month-btn] {
  padding: 5px 10px;
  border: 1px solid #c8e4f0;
  background: #eff6f9;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: normal;
}
[data-calendar-month-wrapper] {
  background: #fff;
  border: 1px solid #e9e9ea;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  width: 150px;
  height: 42px;
  cursor: pointer;
}
[data-calendar-no-message] {
  font-size: 12px;
  direction: rtl;
  text-align: right;
  border-right: 3px solid #44b6ae;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
[data-today] {
  background: #f2fbfd;
}
.calendar-animated {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[data-calendar-box-animated] {
  overflow: hidden;
}
[data-calendar-reminder-input] {
  border: 1px solid #dce3ed;
  background: #fbfdff;
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  text-align: right;
}
[data-calendar-reminder-select],
[data-calendar-reminder-action] {
  border: 1px solid #dce3ed;
  background: #fbfdff;
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
}
[data-calendar-form-row-reminder] {
  font-size: 12px;
  direction: rtl;
  padding: 15px;
}
[data-calendar-form-row-reminder] span {
  display: inline-block;
  padding: 0 15px;
}
[data-calendar-form-row-reminder] select {
  padding: 0 10px;
}
[plus-row] {
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  border-radius: 50%;
  color: #555;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
[minus-row] {
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  border-radius: 50%;
  color: #555;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
[data-calendar-form-row-reminder-inline] {
  display: flex;
}
[data-calendar-date-modal] {
  width: 362px;
  height: 328px;
  flex-shrink: 0;
  direction: rtl;
  position: absolute;
  flex-wrap: wrap;
  border-radius: 5px;
  z-index: 10;
  border: 1px solid #e9e9ea;
  background: #fff;
  padding: 26px 15px;
  display: none;
}
[data-calendar-reminder-list-item] {
  display: flex;
}
[data-calendar-day]:nth-child(7n) {
  border-left: 1px solid #e8e8e8;
}
[data-calendar-modal-header] {
  border-bottom: 0.5px solid #d0d0d0;
  padding-bottom: 20px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: ltr;
}

[data-calendar-modal-header-date] {
  font-weight: bold;
  font-size: 20px;
  direction: rtl;
}
[data-calendar-modal-btns] {
  display: flex;
  align-items: center;
}
[data-calendar-new-btn] {
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}
[data-calendar-close-btn] {
  height: 18px;
  cursor: pointer;
}
[data-calendar-second-day] {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
}
[bc-calendar-date-wrppaer] {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
[data-calendar-second-culture] {
  font-size: 18px;
  color: #767676;
}
[bc-calendar-note-title] {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}
[bc-calendar-note-description] {
  color: #898989;
  clear: both;
  width: 95%;
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
}
[data-calendar-note-header] {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

[data-calendar-more-button] {
  display: flex;
  flex-direction: column;
  direction: ltr;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
  width: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
[data-calendar-more-button] svg {
  margin-bottom: 10px;
}
[data-calendar-year-btn] {
  display: flex;
  padding: 10px;
  color: #222;

  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #e8e8e8;
}
[data-calendar-month-button] {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;

  flex: 0 0 33.333333%;
}
[data-calendar-month-button] div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  color: #000;
}
[data-calendar-year-container] {
  flex: 0 0 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-calendar-refresh-icon] {
  flex: 0 0 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-calendar-month-button-selected] div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #004b85;
  color: #fff;
  text-align: center;
  transition: background 0.5s ease;
}
[data-calendar-month-button-selected] {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1 0 33.333333%;

  flex-shrink: 0;
}
[data-calendar-year-btn-selected] {
  display: flex;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  color: #fff;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #004b85;
  transition: background-color 0.5s ease;
}
[data-calendar-right-btns] {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
[data-calendar-year-btn] path {
  stroke: #222 !important;
}
[data-calendar-filter-btn] {
  display: flex;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #e8e8e8;
}
[data-calendar-filter-btn]:hover {
  background-color: #bbbbbb;
}
[data-calendar-filter-btn-selected] {
  display: flex;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  color: #fff;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #004b85;
  transition: background-color 0.5s ease;
}
[data-calendar-filter-btn-selected] path {
  fill: #fff;
}
[bc-calendar-calendar-header] {
  display: flex;
  align-items: center;
}
[bc-calendar-time-input] {
  margin-right: 15px;
  margin-bottom: 0;
}
[new-note-btn] {
  width: 83px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[new-note-btns] {
  display: flex;
  padding: 5px;
  background: #f2fbfa;
  width: 249px;
  border-radius: 5px;
  direction: rtl;
  height: 35px;
}
[new-note-btn]:hover {
  cursor: pointer;
}
[bc-calendar-drop-down] {
  width: 125px;
  /* margin-right: 15px; */
  z-index: 1;
  height: 40px;
}
[bc-calendar-drop-down] p {
  background: #f7f7f8;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 0;
  position: relative;
  padding-right: 10px;
  cursor: pointer;
}
[bc-calendar-drop-down] ul {
  transform: scaleY(0);
  overflow: hidden;
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transform-origin: top;
  position: relative;
  z-index: 9;
  overflow: auto;
  min-height: 100px;
}
[bc-calendar-drop-down] p::after {
  content: "\2304";
  position: absolute;
  top: 5px;
  left: 10px;
}
[bc-calendar-drop-down] ul {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}
[bc-calendar-drop-down] ul li {
  padding: 5px 5px;
  direction: rtl;
  text-align: right;
  display: flex;
  color: #000;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d7d7fb;
}
[bc-calendar-drop-down] ul li:last-child {
  border-bottom: 0;
}
[bc-calendar-drop-down-for-cats] {
  width: 100%;
}
.open_drop_down {
  transform: scaleY(1) !important;
}
[new-note-header] {
  display: flex;
  direction: rtl;
  height: 45px;
  margin-bottom: 10px;
  justify-content: space-between;
}
[bc-calendar-cat-color] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
}
[bc-calendar-cat-color-red] {
  background-color: #b40020;
}
[bc-calendar-cat-color-black] {
  background-color: #000;
}
[data-calendar-form-row-share] input {
  width: 100% !important;
  margin-bottom: 10px !important;
}
[new-note-new-form] input,
[new-note-new-form] textarea {
  background: #f7f7f8;
  border-radius: 5px;
  padding: 10px 18px;
  width: 100%;
  border: none;
  direction: rtl;
  text-align: right;
  box-sizing: border-box;
  font-family: inherit;
}
[new-note-new-form] input::placeholder,
[new-note-new-form] textarea::placeholder,
[new-note-reminder-input] input::placeholder {
  color: rgba(3, 2, 41, 0.2);
}
[new-note-new-form] div {
  margin-bottom: 10px;
  position: relative;
}
[new-note-clock] {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 75, 133, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
[new-note-select-time] {
  display: flex;
  direction: rtl;
  height: 44px;
}

[new-note-reminder-form-title] {
  font-size: 18px;
  font-weight: bold;
  direction: rtl;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 20px;
}
[new-note-reminder-form-title] span {
  display: block;
  clear: both;
  color: #767676;
  font-size: 10px;
}
[new-note-reminder-form] [new-note-btns] {
  width: 160px;
}
[new-note-reminder-input] input {
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  width: 60px;
  border: none;
  direction: rtl;
  text-align: right;
  border: 0.5px solid #d7d7fb;
  /* height: 42px; */
  box-sizing: border-box;
}
[new-note-reminder-form-body] {
  direction: rtl;
  justify-content: space-between;
  height: 100px;
}
[new-note-reminder-input] {
  display: flex;
  float: right;
  margin-left: 10px;
}
[bc-calendar-drop-down-white] p {
  background: #fff;
  border: 0.5px solid #c4c4c4;
}
[new-form-cancel-button],
[data-calendar-cancel] {
  border: 1px solid rgba(96, 91, 255, 0.1);
  background-color: #fff;
  text-align: center;
  color: #004b85;
  padding: 10px 15px;
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[new-form-cancel-button]:hover,
[data-calendar-cancel]:hover {
  background-color: rgba(0, 75, 133, 0.1);
}
[new-form-submit-button],
[data-reminder-submit] {
  border-radius: 5px;
  background-color: #004b85;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  width: 90px;
  border: 1px solid #004b85;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[data-reminder-submit]:disabled,
[data-reminder-submit][disabled] {
  opacity: 0.3;
  cursor: no-drop;
}
[new-form-submit-button]:hover,
[data-reminder-submit]:hover {
  background-color: #003259;
}
[new-form-submit-cancel-buttons] {
  float: right;
  margin-top: 30px;
  direction: ltr;
}
[data-calendar-form-row-share] {
  margin-bottom: 20px;
  margin-top: 10px;
}
[data-calendar-shared-email] {
  background: rgba(0, 75, 133, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  width: fit-content;
  padding-left: 10px;
}
[data-calendar-shared-email] button {
  background: none;
  border: none;
}
[data-calendar-share-note-wrapper] {
  direction: rtl;
}
[data-calendar-tooltip] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* visibility: hidden; */
  opacity: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  z-index: 1;
}

[data-calendar-tooltip]:hover span {
  /* visibility: visible; */
  opacity: 1;
}
[data-calendar-tooltip-successfull] span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}
[data-calendar-tooltip-successfull] span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* visibility: hidden; */
  opacity: 0;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50px;
  margin-left: -60px;
}
[data-calendar-tooltip-successfull]:hover span {
  /* visibility: visible; */
  opacity: 1;
}

[new-note-new-form] {
  position: relative;
}

[data-calendar-tooltip-successfull] {
  position: absolute;
  top: 10px;
  left: 70px;
  display: none;
}
[data-calendar-holiday] {
  color: #b40020;
}
[data-calendar-remove-sharing] {
  width: 41px;
  height: 41px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(180, 0, 32, 0.05);
  cursor: pointer;
  margin-bottom: 0 !important;
}
[data-calendar-sharing-item] {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}
[data-calendar-sharing-username] {
  display: flex;
  flex-direction: column;
}
[data-calendar-sharing-username-service] {
  display: flex;
}
[data-calendar-sharing-username-service] div {
  display: flex;
  align-items: center;
}
[data-calendar-sharing-username-service] svg {
  margin: 0 20px;
}
[data-calendar-sharing-username-service] path {
  color: #767676;
  font-size: 12px;
}
[data-calendar-sharing-username-service] span {
  display: flex;
}
[data-calendar-sharing-username] span {
  color: #767676;
  font-size: 12px;
}
[data-calendar-sharing-item]:hover {
  background: rgba(0, 75, 133, 0.1);
}
[data-calendar-add-sharing] {
  width: 41px;
  height: 41px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 75, 133, 0.05);
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 0 !important;
}
[data-calendar-share-form] {
  direction: rtl;
  justify-content: space-between;
  margin-bottom: 0 !important;
  position: relative;
}
[data-calendar-share-form-uniqe] {
  position: relative;
}
.tabWrapper {
  overflow: hidden;
  text-align: right;
  direction: rtl;
}

.tabWrapper .tabs {
  border-radius: 5px 5px 0 0;
  position: relative;
  margin-bottom: 15px;
}

.tabWrapper .tabContainer {
  /* border: 1px solid #efefef; */
  background-color: #f2fbfa;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  position: relative;
}

.tabWrapper .tabButton {
  color: #030229;
  background: transparent;
  font-size: 14px;
  height: 35px;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  width: 80px;
  text-transform: uppercase;
  /* font-weight: bold; */
  text-align: center;
  border: none;
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
  cursor: pointer;
  display: inline-block;
  line-height: 35px;
}

.tabWrapper .tabButton[tab-button-status="active"] {
  color: #fff;
}

.tabWrapper .tabActive {
  position: absolute;
  bottom: 5px;
  display: flex;
  height: 35px;
  width: 80px;
  background-color: #00a693;
  z-index: 1;
  border-radius: 5px;
  transition: 0.25s ease-out;
  transform: translateX(0);
}
[data-calendar-delete-alert] {
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  color: #b40020;
  border: 1px dashed #b40020;
}
[data-calendar-delete-alert] p {
  margin-bottom: 15px;
}
[data-calendar-remove-button] {
  direction: ltr;
  display: flex;
  height: 23px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #d0d0d0;
  background: rgba(0, 75, 133, 0.1);
}
[data-calendar-filter-container] {
  display: none;
  height: 100px;
  background-color: #f3f3f3;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
[data-calendar-filter-row] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
[data-calendar-filters-row] {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
[data-calendar-filter-row]:hover {
  background: rgba(0, 75, 133, 0.1);
}
[data-calendar-holiday-filters] {
  display: none;
  width: 125px;
  padding: 5px 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  border-radius: 5px;
  justify-content: center;
  position: absolute;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 75, 133, 0.1);
}
[data-calendar-filters-container] {
  display: flex;
  gap: 10px;
}
[data-calendar-reminder-filters] {
  display: none;
  width: 125px;
  padding: 5px 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  border-radius: 5px;
  justify-content: center;
  position: absolute;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 75, 133, 0.1);
}
[data-calendar-reminder-filter] {
  display: flex;
  height: 37px;
  padding-inline: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #fff;
}
[data-calendar-day-names] {
  background-color: #f3f3f3;
  border-radius: 5px 5px 0px 0px;
}
[data-calendar-next],
[data-calendar-prev] {
  border: none;
  background: none;
}
[data-calendar-month-container] {
  clear: both;
}

[data-calendar-tools] {
  float: left;
}

[data-calendar-today-btn] {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  font-size: 14px;
  width: 86px;
  height: 42px;
  background-color: #e8e8e8 !important;
  border-radius: 5px;
  color: #222 !important;
  border: 1px solid #e8e8e8;
}
[data-calendar-today-btn]:hover {
  background-color: #bbbbbb !important;
}
[data-calendar-day] {
  height: 132px;
}
[data-today] {
  background: #f7f9ff;
}
[data-id1]:hover {
  background: #fff;
  border: 0.5px solid #004b85;
}
[data-today]:hover {
  background: #f7f9ff;
}
[data-id1]:hover span {
  color: #00a693;
}
[data-calendar-day]:not([data-id1]) {
  background: #fff;
}
[data-id1]:hover:after {
  content: "";
  background: none;
  border: none;
}
[data-calendar-day] span {
  font-size: 24px;
}
[data-calendar-today-btn] svg {
  margin-right: 15px;
}
[data-calendar-no-message] {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  background: #fff;
  color: #d0d0d0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-calendar-next],
[data-calendar-prev],
[data-calendar-next-year],
[data-calendar-prev-year] {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #c8e4f0;
  background: #eff6f9;
  padding: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 7px;
}

[data-calendar-next],
[data-calendar-prev],
[data-calendar-next-year],
[data-calendar-prev-year] {
  border: none;
  background: none;
}
[data-calendar-next-year] {
  transform: scale(1.7);
  margin-left: 10px;
}
[data-calendar-next] {
  margin-left: 15px;
}
[data-calendar-prev] {
  margin-right: 15px;
}
[data-calendar-prev-year] {
  margin-right: 10px;
  transform: rotate(180deg) scale(1.7);
}
[bc-calendar-note-operation] {
  height: auto !important;
  width: auto !important;
}
[bc-calendar-note-operation] li {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  direction: ltr;
  color: #000 !important;
}
[bc-calendar-note-operation] li svg {
  margin-bottom: 0 !important;
  margin-right: 15px;
}
.timepicker-ui-header {
  padding-top: 0 !important;
  padding-bottom: 1px !important;
}
.timepicker-ui-wrapper {
  padding: 0 25px !important;
}
.timepicker-ui-footer {
  flex-direction: row-reverse !important;
}
[new-note-reminder-form-body] [new-note-reminder-form-element] {
  float: right;
  margin-left: 15px;
}
[bc-calendar-time-num] {
  margin-left: 10px;
}
.clr {
  clear: both;
}
.timepicker-ui-hour:hover,
.timepicker-ui-hour.active,
.timepicker-ui-minutes:hover,
.timepicker-ui-minutes.active,
.timepicker-ui-hour.mobile:hover,
.timepicker-ui-hour.mobile.active,
.timepicker-ui-minutes.mobile:hover,
.timepicker-ui-minutes.mobile.active {
  color: #004b85;
  background-color: rgba(0, 75, 133, 0.1);
}
.timepicker-ui-circle-hand,
.timepicker-ui-clock-hand {
  background-color: #004b85;
}
.timepicker-ui-clock-face {
  background-color: rgba(0, 75, 133, 0.1);
}
.timepicker-ui-wrapper-btn {
  direction: rtl;
}
.timepicker-ui-ok-btn {
  background-color: #004b85;
  color: #fff;
}
.open_drop_down_wrapper {
  position: relative;
  z-index: 9999;
}
.timepicker-ui-cancel-btn {
  color: #212121;
  margin-left: 15px;
}
.timepicker-ui-cancel-btn:hover {
  background-color: #fff;
}
.timepicker-ui-ok-btn:hover {
  background-color: #004b85;
}
[bc-calendar-drop-down-reciver-deactive] {
  color: #d0d0d0;
  pointer-events: none;
  background-color: #f8f8ff !important;
  border: 1px solid #d7d7fb !important;
}
[data-sys-message-danger] {
  background-color: rgba(180, 0, 32, 0.1);
  color: #b40020;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
  direction: ltr;
  text-align: right;
}
[data-calendar-filter-number] {
  display: flex;
  width: 18.004px;
  height: 18.004px;
  align-items: center;
  border-radius: 50%;
  color: #004b85;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
[data-calendar-filter-count] {
  display: flex;
  width: 18.004px;
  height: 18.004px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #004b85;
  border-radius: 50%;
  color: white;
}
[data-sys-message-success] {
  direction: ltr;
  text-align: right;
}

[data-sys-message-danger-fade-in] {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

[data-sys-message-danger-fade-out] {
  transform: translateY(50px) !important;
  opacity: 0 !important;
}

[data-bc-calendar-select] {
  border: none;
  border: 1px solid #d7d7fb;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  height: 35px;
  margin-top: 2px;
  min-width: 100px;
  background: #fff;
  height: 42px;
  background-color: #f8f8ff !important;
  border: 1px solid #d7d7fb !important;
  color: var(--vdark_gray) !important;
}
[data-bc-select-category] {
  border: none;

  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  height: 35px;
  margin-top: 2px;
  width: 100%;
  background: #fff;
  height: 42px;
  direction: rtl;
  text-align: right;
  background-color: #f7f7f8 !important;
  /* border: 1px solid #d7d7fb !important; */
  color: var(--vdark_gray) !important;
  border: 1px solid #c7d6db;
}
[new-note-new-form] textarea {
  margin-top: 5px;
}
[data-calendar-tooltip-flag] {
  direction: rtl;
}
[data-bc-calendar-disable-button] {
  pointer-events: none;
  background: #d0d0d0 !important;
  border-color: #d0d0d0 !important;
  color: #fff !important;
  opacity: 1 !important;
}
[data-calendar-more-note] {
  width: 25px;
  height: 25px !important;
  border-radius: 5px;
  padding: 0;
  min-height: 25px !important;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.5rem;
  position: relative;
  z-index: 5;
  border: 2px solid #fff;
}
[data-calendar-more-note-parent] {
  float: left;
  margin: 10px !important;
  direction: ltr;
  text-align: left;
}
[bc-calendar-note-time] {
  color: #898989 !important;
  font-size: 12px;
  /* margin-top: 10px; */
}
[bc-calendar-note-sharefrom] {
  color: #898989 !important;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
[bc-calendar-note-sharefrom] svg {
  margin-left: 5px;
}
[bc-calendar-note-sharefrom] span {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  color: #000 !important;
}

.view_note_label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}
.view_box div {
  display: flex;
  align-items: center;
  color: #767676;
  margin-bottom: 8px;
}
.view_box div svg {
  margin-left: 7px;
}
.view_note_description {
  color: #222222 !important ;
  margin-top: 20px;
}
.label_type {
  font-size: 12px;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;

  margin-right: 10px;
}
[bc-calendar-note-type] {
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.time_view_note {
  padding: 5px 10px;
  background-color: rgba(0, 75, 133, 0.1);
  color: #004b85;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}
.view_date_note span {
  margin-left: 5px;
}
.view_date_note span.view_date_day {
  margin-right: 10px;
}
[data-bc-calendar-sharing-user-avatar] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: #BAE1FF; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: -10px;
  z-index: 5;
  font-size: 13px;
  color: #000 !important;
}
.sharing_wrapper {
  margin-bottom: 0 !important;
  margin-right: 20px;
  position: relative;
  top: 5px;
}
.sharing_wrapper1 {
  margin-bottom: 0 !important;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
[data-bc-calendar-sharing-user-avatar]:hover {
  z-index: 10;
}
[data-bc-calendar-sharing-user-avatar]:after {
  position: absolute;
  top: calc(-100% + 28px);
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
[data-bc-calendar-sharing-user-avatar]:before {
  position: absolute;
  top: -100%;
  /* right: 50%; */
  margin-bottom: 5px;
  margin-right: -15px;
  transform: translateX(-50%);
  padding: 7px;
  width: max-content;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
[data-bc-calendar-sharing-user-avatar]:hover:before,
[data-bc-calendar-sharing-user-avatar]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-bc-calendar-reminder-text] {
  color: #004b85 !important;
  margin-bottom: 0 !important;
  margin-right: 10px;
}
[bc-calendar-note-description]:after {
  content: "...";
  position: absolute;
  right: -12px;
  bottom: 4px;
}
[reminders-all] {
  display: block;
  flex-direction: column;
  align-items: baseline !important;
}
[data-bc-calendar-sharing-all-list] [data-bc-calendar-sharing-user-avatar1] {
  margin-right: 0 !important;
  margin-left: 10px;
  /* margin-right: 10px !important; */
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 5px 10px !important;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  top: 5px;
}
.sharing_wrapper1 div {
  margin-bottom: 5px !important;
}

.calendar-category-new {
  font-size: 12px;
  position: absolute;
  top: 12px;
  z-index: 9;
  right: 10px;
  color: #555;
}
