<style>
    [bc-calendar-note-operation] {
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
      border-radius: 5px;
      padding: 5px !important;
      list-style: none;
      transform: scaleY(0);
      overflow: hidden;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease;
      transform-origin: top;
      position: absolute;
      left:-40px
    }
    [bc-calendar-note-operation] li {
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 5px;
      align-items: center;
      direction: ltr;
      color: #000 !important;
    }
    [bc-calendar-note-operation] li:last-child {
      margin-bottom: 0;
    }
    [bc-calendar-note-operation] li:hover {
      background: rgba(0, 75, 133, 0.1);
      cursor: pointer;
    }
    .open_drop_down {
      transform: scaleY(1) !important;
    }
    [bc-calendar-note-operation] li svg{
        margin-bottom: 0 !important;
        margin-right: 15px;
    }
  </style>
  <ul bc-calendar-note-operation="" sys-input-text="">
    <li bc-calendar-edit-note="" sys-bg-secondary="">
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path sys-text=""
          d="M0 11.8754V15H3.12457L12.34 5.78461L9.21539 2.66005L0 11.8754ZM14.7563 3.36828C15.0812 3.04333 15.0812 2.5184 14.7563 2.19345L12.8066 0.243716C12.4816 -0.0812387 11.9567 -0.0812387 11.6317 0.243716L10.1069 1.7685L13.2315 4.89307L14.7563 3.36828Z"
          fill="#323232"
        />
      </svg>
      <span sys-text="">نمایش</span>
    </li>

  </ul>
  