<div new-note-reminder-form-element="">
  <div class="tabWrapper">
    <div class="tabs">
      <div class="tabContainer">
        <div
          new-note-btn=""
          bc-calendar-change-button=""
          class="tabButton"
          data-id="1"
          tab-button-status-email=""
          tab-button-status="active"
        ></div>
        <div
          new-note-btn=""
          bc-calendar-change-button=""
          class="tabButton"
          data-id="2"
          tab-button-status-mobile=""
          tab-button-status=""
        ></div>
        <span class="tabActive"></span>
      </div>
    </div>
  </div>
</div>

<div new-note-reminder-input="">
  <input
    type="text"
    data-sys-input-text=""
    data-calendar-time-value=""
    readonly=""
    placeholder=""
    bc-calendar-time-num=""
  />

  <select data-bc-calendar-select="" data-bc-select-time="" disabled="true">
    <option value="3">روز</option>
    <option value="2">ساعت</option>
    <option value="1">دقیقه</option>
  </select>
</div>
<div new-note-reminder-input="">
  <select
    data-bc-calendar-select=""
    data-bc-select-user-share=""
    disabled="true"
    data-bc-select-service-reminder=""
  >
    <option value="1" data-bc-forme=""></option>
    <option value="2">برای همه اعضای گروه</option>
  </select>
</div>
<div data-calendar-remove-sharing="" data-sys-bg-secondary="">
  <svg
    width="12"
    height="12"
    viewBox="0 0 12 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.04028 0.0603034L0.0603845 2.0402L4.02018 6L0.0603845 9.9598L2.04028 11.9397L6.00008 7.9799L9.95988 11.9397L11.9398 9.9598L7.97998 6L11.9398 2.0402L9.95988 0.0603037L6.00008 4.0201L2.04028 0.0603034Z"
      fill="#B40020"
    ></path>
  </svg>
</div>

<div class="clr"></div>
