<style>
  
</style>
<form data-calendar-input-wrapper="" >
  <div data-calendar-share-note-wrapper="">
 
  </div>
    <div data-calendar-form-row="" data-calendar-form-row-share="">
	
        <div new-note-new-form="">
            <div data-calendar-share-form="" data-calendar-share-form-uniqe="">
              <input type="text" data-calendar-share-input="" data-sys-input-text="" id="data-calendar-share-input-uniqe" placeholder="برای به اشتراک‌گذاری ایمیل را وارد کنید">
             
             
            </div>        
           
          </div>
    </div>
    <div new-form-submit-cancel-buttons="" >
      <button data-calendar-cancel="">لغو</button>
        <button data-calendar-submit data-reminder-submit="" disabled="true" data-sys-button="">ثبت</button>
      
    </div>
</form>
